<h1>Home Component works</h1>

<!-----------------------data binding-------------------->

<!--//interpolation-->
<h2>Hello I am {{name}} age is {{age}} </h2>

<!--//property binding-->
<!--<img [src]="image" [width]="width">-->

<!--//event binding in one way-->
<input #myVar placeholder="type here" type="text"
       width="50px">
<button (click)="printData(myVar.value)" type="button">click</button>
<hr>


<!--two way data binding-->
<!--<input
  #myElement
  (keyup)="name=myElement.value"
  placeholder="Type here"
  type="input">-->
<input [(ngModel)]="name" placeholder="type here" type="text"> <!--data binding using ngmodule(have to import FileModule in app.modules.ts)-->
<hr>
<h2>My name is <strong>{{name}}</strong></h2>
